<!DOCTYPE html>
<!-- informa ao agente de usuario a versão do html que deve ser renderizazda-->
<html lang="pt-br"> <!-- page language-->
    <head>
        <title>
            Basic structure exemple page
        </title>
        <meta charset="utf-8"> <!--caracteres especiais-->
        <!--Meta tag relacionada a mecanismos de busca-->
        <meta name="author" content="Angelina Pierre">
        <meta name="description" content="document list">
        <meta name="keywords" content="html5, tecnology">
        <link rel="stylesheet" href="./CSS/STYLE.css">
    </head> 

    <body>
       <div id="principal">
        <header class="hd-1">
            <nav>
                <li><a href="./INDEX.html">Home</a></li>
                <li><a href="#">Who am i</a></li>
                <li><a href="#">Contact</a></li>
            </nav>
            <div class="content">
                <h1>Gabrielle Angelina Pierre</h1>
                <p>Portfolio</p>
            </div>
        </header>
        <main>
            <section class="sec-1">
                <div class="card cd-1">
                    <img src="CSS/imagens/GABY-UPDATE/images (1).png" alt="">
                    <p>languages</p>
                </div>
                <div class="card cd-2">
                    <img src="./CSS/imagens/GABY-UPDATE/images (5).png" alt="">
                    <p>Codes</p>
                </div>
                <div class="card cd-3">
                    <img src="./CSS/imagens/GABY-UPDATE/images (8).jpg" alt="">
                    <p>Certificates</p>
                </div>
            </section>
            <section class="sec-2">
                <article>
                    <header class="hd-2">
                        <h2>Portfolio</h2>
                    </header>
                    <p>Paragraph 1</p>
                    <p>Paragraph 2</p>
                </article>
            </section>
        </main>
        <footer>
            <p>Copyright &copy; 2018</p>
        </footer>
       </div>
    </body>
</html>